/* EFECT SMOOTH ON BARS */
html {
    scroll-behavior: smooth;
}

@media (min-width: 1024px){
    html{
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

.flex-center{
    display: flex;
    align-items: center;
    margin-top: 0.9%;
    justify-content: center;
}

.full-height{
    height: 100vh;
}
.half-height{
    height: 50vh;
}

.cursor-pointer{
    cursor: pointer;
}